{% extends 'base.html' %}
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='scripts/add_department.js') }}"></script>
    {% endblock %}
    {% block content %}
        <h1>{% block title %} Add New Department {% endblock %}</h1>
        <form action="" class="add_new_department">
            <div class="form-row">
                <div class="col-2">
                    <label for="Name">Department name</label>
                </div>
                <div class="col-5">
                    <input type="text" id="Name" name="Name" required>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-info">
        </form>
    {% endblock %}