{% extends 'base.html' %}
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='scripts/add_employee.js') }}"></script>
    {% endblock %}
    {% block content %}
        <h1>{% block title %} Add New Employee {% endblock %}</h1>
        <form action="" class="add_new_employee">
            <div class="form-row">
                <div class="col-2">
                    <label for="Firstname">Firstname</label>
                </div>
                <div class="col-5">
                    <input type="text" id="Firstname" name="Firstname" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    <label for="Lastname">Lastname</label>
                </div>
                <div class="col-5">
                    <input type="text" id="Lastname" name="Lastname" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                </div>
                <div class="col-5">
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    <label for="Salary">Salary</label>
                </div>
                <div class="col-5">
                    <input type="text" id="Salary" name="Salary" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    <label for="Department">Department</label>
                </div>
                <div class="col-5">
                    <input type="text" id="Department" name="Department" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    <label for="Birthdate">Birthdate</label>
                </div>
                <div class="col-5">
                    <input type="date" id="Birthdate" name="Birthdate" required>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-info">
            
        </form>
    {% endblock %}