<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telsa Inc - {%block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% block script %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">Telsa INC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav justify-content-end">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('/')}}">Departments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('employees')}}">Employees</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <section class="content container" role="main">
        {% block content %}{% endblock %}
    </section>
</body>
</html>