{% extends 'base.html' %}
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='scripts/department.js') }}"></script>
    {% endblock %}
    {% block content %}
        <h1 class="text-center">{% block title %} {{ department_name }}{% endblock %}</h1>
        <table class="employees_info">
        </table>
    {% endblock %}