{% extends 'base.html' %}
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='scripts/departments.js') }}"></script>
    {% endblock %}
    {% block content %}
        <h1 class="text-center">{% block title %}Departments{% endblock %}</h1>
    {% endblock %}