{% extends 'base.html' %}
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='scripts/edit_department.js') }}"></script>
    {% endblock %}
    {% block content %}
        <h1>{% block title %} {{ department_name }}{% endblock %}</h1>
    {% endblock %}