{% extends 'base.html' %}
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='scripts/employees_by_birthdate.js') }}"></script>
    {% endblock %}
    {% block content %}
        <h1 class="text-center">{% block title %} Employees born from <em id="min_date">{{ min_date }}</em> to <em id="max_date">{{max_date }}</em>{% endblock %}</h1>
    {% endblock %}