{% extends 'base.html' %}
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='scripts/employee.js') }}"></script>
    {% endblock %}
    {% block content %}
        <h1 class="text-center">{% block title %} {{ employee_name }}{% endblock %}</h1>
    {% endblock %}